<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app>

<web-app>
 <display-name>exemple formation</display-name>
 <description>
 exemple formation servlet et jsp
 </description>
<!--
<filter>
 <filter-name>portier</filter-name>
 <filter-class>mesCommandes.MonFiltre</filter-class>
</filter>
-->
<!--
<filter-mapping>
 <filter-name>portier</filter-name>
 <servlet-name>acheter</servlet-name>
</filter-mapping>
<filter-mapping>
 <filter-name>portier</filter-name>
 <servlet-name>commander</servlet-name>
</filter-mapping>
-->
 <servlet>
 <servlet-name>inscrire</servlet-name>
 <servlet-class>mesCommandes.InscriptionClient</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>inscrire</servlet-name>
 <url-pattern>/sinscrire</url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name>acheter</servlet-name>
 <servlet-class>mesCommandes.AfficherLesDisques</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>acheter</servlet-name>
 <url-pattern>/achat</url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name>commander</servlet-name>
 <servlet-class>mesCommandes.CommanderUnDisque</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>commander</servlet-name>
 <url-pattern>/commande</url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name>enregistrer</servlet-name>
 <servlet-class>mesCommandes.EnregistrerCommande</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>enregistrer</servlet-name>
 <url-pattern>/enregistre</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>vider</servlet-name>
 <servlet-class>mesCommandes.VidePanier</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>vider</servlet-name>
 <url-pattern>/vider</url-pattern>
 </servlet-mapping>
</web-app>